<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>273562752607-rqhl42p8st13vu5thpbecln8rvmlv46e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.273562752607-rqhl42p8st13vu5thpbecln8rvmlv46e</string>
	<key>API_KEY</key>
	<string>AIzaSyBCiqiKbEa0q0W9EX9un4dY26I1sKXv74c</string>
	<key>GCM_SENDER_ID</key>
	<string>273562752607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brilloconnetzTest</string>
	<key>PROJECT_ID</key>
	<string>brillo-f22a3</string>
	<key>STORAGE_BUCKET</key>
	<string>brillo-f22a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273562752607:ios:b5c2227149571d031c6dea</string>
</dict>
</plist>